<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.wms.mapper.ChartMapper">


    <sql id="order_where">
        <where>
            <if test="keyword!=null">
                (
                p.name like concat('%',#{keyword},'%')
                or
                p.sn like concat('%',#{keyword},'%')
                )
            </if>
            <if test="beginDate!=null">
               and bill.vdate>=#{beginDate}
            </if>
            <if test="endDate!=null">
                and bill.vdate &lt;=#{endDate}
            </if>
            <if test="supplierId>0">
                and bill.supplier_id = #{supplierId}
            </if>
            <if test="brandId>0">
                and p.brand_id=#{brandId}
            </if>
            and bill.status=1
        </where>
    </sql>
    <sql id="sale_where">
        <where>
            <if test="keyword!=null">
                (
                p.name like concat('%',#{keyword},'%')
                or
                p.sn like concat('%',#{keyword},'%')
                )
            </if>
            <if test="beginDate!=null">
               and sa.vdate>=#{beginDate}
            </if>
            <if test="endDate!=null">
                and sa.vdate &lt;=#{endDate}
            </if>
            <if test="clientId>0">
                and c.id = #{clientId}
            </if>
            <if test="brandId>0">
                and p.brand_id=#{brandId}
            </if>
        </where>
    </sql>

    <select id="queryOrderChart" resultType="java.util.Map">
       select ${groupBy} as groupType,
        SUM(item.number) as totalNumber,
        SUM(item.amount) as totalAmount
        from orderbillitem item
        join orderbill bill on item.bill_id=bill.id
        join employee iu on bill.inputUser_id=iu.id
        join product p on item.product_id=p.id
        join supplier s on bill.supplier_id=s.id
        <include refid="order_where"/>
        GROUP BY ${groupBy}
    </select>
    
    <select id="querySaleChart" resultType="java.util.Map">
        select ${groupBy} as groupType,
        SUM(sa.number) as totalNumber,
        SUM(sa.saleAmount) as totalAmount,
        SUM(sa.saleAmount-sa.costAmount) as grossProfit
        from saleaccount sa
        join employee sm on sa.saleman_id=sm.id
        join product p on sa.product_id=p.id
        join client c on sa.client_id=c.id
        <include refid="sale_where"/>
        GROUP BY ${groupBy}
    </select>

</mapper>