<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520it.wms.mapper.ProductStockMapper">
  <resultMap id="BaseResultMap" type="com._520it.wms.domain.ProductStock">
    <id column="id" property="id" />
    <result column="price" property="price" />
    <result column="storeNumber" property="storeNumber" />
    <result column="amount" property="amount" />
      <association property="product" javaType="com._520it.wms.domain.Product" columnPrefix="p_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
          <result column="brandName" property="brandName"/>
          <result column="sn" property="sn"/>
      </association>
      <association property="depot" javaType="com._520it.wms.domain.Depot" columnPrefix="d_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
  </resultMap>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `productstock` (price, storeNumber, amount, product_id, depot_id)
    values (#{price}, #{storeNumber}, #{amount}, #{product.id}, #{depot.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.wms.domain.ProductStock">
    update `productstock`
    set price = #{price},
      storeNumber = #{storeNumber},
      amount = #{amount}
    where id = #{id}
  </update>

    <sql id="base_column">
        ps.id, ps.price, ps.storeNumber, ps.amount,
     p.id as p_id,p.name as p_name,p.brandName as p_brandName,p.sn as p_sn,
     d.id as d_id,d.name as d_name
    </sql>
    <sql id="base_table">
        productstock ps
    join depot d on ps.depot_id=d.id
    join product p on ps.product_id=p.id
    </sql>
    <sql id="base_where">
        <where>
            <if test="keyword!=null">
                (
                p.name like concat('%',#{keyword},'%')
                or
                p.sn like concat('%',#{keyword},'%')
                )
            </if>
            <if test="depotId>0">
                and ps.depot_id = #{depotId}
            </if>
            <if test="brandId>0">
                and p.brand_id = #{brandId}
            </if>
            <if test="limitNumber!=null">
                and ps.storeNumber &lt;= #{limitNumber}
            </if>

        </where>
    </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from <include refid="base_table"/>
  </select>
    <select id="selectByDepotIdAndProductId" resultMap="BaseResultMap">
            select  <include refid="base_column"/>
            from <include refid="base_table"/>
			where ps.depot_id=#{depotId} and ps.product_id=#{productId}
    </select>

    <select id="queryForCount" resultType="int">
        SELECT count(ps.id)
        FROM <include refid="base_table"/>
        <include refid="base_where"/>
    </select>
    <select id="queryForList" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        from <include refid="base_table"/>
        <include refid="base_where"/>
        limit #{start},#{pageSize}
    </select>


</mapper>