<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.wms.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com._520it.wms.domain.Role" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <collection property="permissions" ofType="Permission" column="id" select="com._520it.wms.mapper.PermissionMapper.selectByRoleId"/>
    <collection property="menus" ofType="SystemMenu" column="id" select="com._520it.wms.mapper.SystemMenuMapper.selectByRoleId"/>
  </resultMap>
  <delete id="deleteByPrimaryKey"  >
    delete from role
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com._520it.wms.domain.Role" useGeneratedKeys="true" keyProperty="id" >
    insert into role (name, sn)
    values (#{name}, #{sn})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.wms.domain.Role" >
    update role
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select id, name, sn
    from role
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sn
    from role
  </select>

  <select id="queryForCount" resultType="int">
    SELECT count(id)
    FROM role
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    SELECT id, name, sn
    from role
    limit #{start},#{pageSize}
  </select>
  <select id="selectByEmployeeId" resultMap="BaseResultMap">
    SELECT r.id, r.name, r.sn
    from role r join employee_role er ON
    r.id=er.role_id
    where er.employee_id=#{employeeId}

  </select>

  <insert id="insertRelationWithPermission">
    insert into role_permission (role_id,permission_id) values(#{roleId},#{permissionId});
  </insert>
  <insert id="insertRelationWithSystemMenu">
    insert into role_menu (role_id,menu_id)VALUES (#{roleId},#{menuId})
  </insert>

  <delete id="deleteRelationWithPermission">
    delete from role_permission where role_id=#{roleId}

  </delete>
  <delete id="deleteRelationWithSystemMenu">
    DELETE from role_menu WHERE role_id=#{roleId}
  </delete>

</mapper>