<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration
          PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--启用延迟加载，访问非关联属性不触发延迟加载，访问Object中clone方法延迟加载-->
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="lazyLoadTriggerMethods" value="clone"/>
	</settings>
</configuration>